rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isAuthenticated();
    }

    match /posts/{postsId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow delete: if isAuthenticated() && isUserAuthenticated(resource.data.author.id);
    }
  }
}