service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isAuthenticated() && isUserAuthenticated(userId);
    }
  }
}
